<% if @talks.present? %>
  <% @talks.each do |talk| %>
    <div class="talk">
      <h2 class="title"><%= link_to talk.title.html_safe, talk.url, target: "_blank" %></h2>
      <h5 class="meta">
        Presented: <%= talk.presented_on ?  talk.presented_on.strftime('%B %d, %Y') : 'n/a' %> |
        <%= talk.event_name %>
      </h5>

      <% if talk.description.present? %>
        <div class="description">
          <%= talk.description.html_safe %>
        </div>
      <% end %>
    </div>
    <hr />
  <% end %>
<% else %>
  <p>No talks posted</p>
<% end %>

<div class="clearfix mb-3">
  <div class="float-end">
    <%= link_to_next_page @talks, 'Next Page' %>
  </div>
  <div class="float-start">
    <%= link_to_previous_page @talks, 'Previous Page' %>
  </div>
</div>
