<article id="intro">
  <div>
    <h2>Hello!</h2>
      <%= image_tag "t27duck.jpg", alt: "t27duck" %>
      I'm Tony Drake - Professional web developer, geek, nerd, and Mario Kart connoisseur. This site is where I put my ramblings and talk about my interests.
    <section id="social-icons">
      <div>Find me on:</div>
      <%= link_to "https://github.com/t27duck", title: "View my projects on GitHub", target: "_blank", rel: "noopener" do %>
        <svg viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/>
        </svg>
      <% end %>
      <%= link_to "https://linkedin.com/in/t27duck", title: "Connection with me on LinkedIn", target: "_blank", rel: "noopener" do %>
        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#007EBB"/>
            <path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF"/>
          </g>
        </svg>
      <% end %>
      <%= link_to "https://bsky.app/profile/t27duck.com", title: "Follow me on Bluesky", target: "_blank", rel: "noopener" do %>
        <svg width="568" height="501" viewBox="0 0 568 501" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M123.121 33.6637C188.241 82.5526 258.281 181.681 284 234.873C309.719 181.681 379.759 82.5526 444.879 33.6637C491.866 -1.61183 568 -28.9064 568 57.9464C568 75.2916 558.055 203.659 552.222 224.501C531.947 296.954 458.067 315.434 392.347 304.249C507.222 323.8 536.444 388.56 473.333 453.32C353.473 576.312 301.061 422.461 287.631 383.039C285.169 375.812 284.017 372.431 284 375.306C283.983 372.431 282.831 375.812 280.369 383.039C266.939 422.461 214.527 576.312 94.6667 453.32C31.5556 388.56 60.7778 323.8 175.653 304.249C109.933 315.434 36.0535 296.954 15.7778 224.501C9.94525 203.659 0 75.2916 0 57.9464C0 -28.9064 76.1345 -1.61183 123.121 33.6637Z" fill="#1185FE"/>
        </svg>
      <% end %>
      <%= link_to "https://x.com/t27duck", title: "Follow me on X", target: "_blank", rel: "noopener" do %>
        <svg viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"></path>
        </svg>
      <% end %>
    </section>
  </div>
</article>

<hr />

<div class="home-list">
  <article>
    <h2>Recent Activity</h2>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <section>
          <div class="badge-and-title">
            <span class="<%= post.kind %>-badge"><%= post.kind.titleize %></span>
            <%= link_to post.title, post, title: post.title %>
          </div>
          <div class="date"><%= post.published_at.strftime("%B %d, %Y") %></div>
        </section>
      <% end %>
    <% else %>
      <p>Nothing written yet :/</p>
    <% end %>
    <p>
      <%= link_to "View all posts", posts_path %>
      |
      <%= link_to "View all talks", talks_path %>
    </p>
  </article>
</div>
