<%= form_for [:admin, post] do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <p><strong><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</strong></p>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', maxlength: 255, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_field :summary, class: 'form-control', maxlength: 255 %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 12, class: 'form-control', required: true %>
  </div>

  <div class="checkbox">
    <%= f.label :publish do  %>
      <%= f.check_box :publish %>
      Publish
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Cancel", admin_posts_path, class: 'btn btn-warning' %>
    <a href="#" id="preview-link" class="btn btn-info">Preview</a>
  </div>
<% end %>

<div id="preview-content"></div>

<% content_for :bottom do %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#preview-link").on("click", function(event) {
      var $preview  = $("#preview-content");
      var content   = $("#post_content").val();
      $.post(
        "<%= preview_admin_posts_path %>",
        { content: content }
      ).done(function(html) {
        $preview.html(html);
      });
      event.preventDefault();
    });
  });
</script>
<% end %>
