<%# locals: (post:) -%>

<%= form_for [:admin, post] do |f| %>
  <% if post.errors.any? %>
    <aside>
      <p><strong><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</strong></p>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </aside>
  <% end %>

  <%= f.label :kind, "Type", class: "form-label" %>
  <%= f.select :kind, Post::KINDS.map { |k| [k.titleize, k] }, { include_blank: true }, class: "form-control", required: true %>

  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title, class: "form-control", maxlength: 255, required: true %>

  <%= f.label :summary, class: "form-label" %>
  <%= f.text_field :summary, class: "form-control", maxlength: 255 %>

  <%= f.label :tags_input, "Tags (Separated by comma)", class: "form-label" %>
  <%= f.text_field :tags_input, class: "form-control", maxlength: 255 %>

  <%= f.label :content, class: "form-label" %>
  <%= f.marksmith :content, rows: 15, class: "form-control" %>

  <div class="checkbox">
    <%= f.label :publish, class: "form-label" do  %>
      <%= f.check_box :publish %>
      Publish
    <% end %>
  </div>

  <%= f.submit class: "button" %>
  <%= link_to "Cancel", admin_posts_path %>
<% end %>
