<%= link_to "New Post", new_admin_post_path %>

<table>
  <caption>Unpublished Posts</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Tags</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @unpublished_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.kind.titleize %></td>
        <td><%= post.tags.map(&:name).join(", ") %></td>
        <td><%= post.created_at %></td>
        <td nowrap>
          <%= link_to "Edit", edit_admin_post_path(post), class: "btn btn-primary btn-xs" %>
          <%= link_to "Delete", admin_post_path(post), class: "btn btn-danger btn-xs", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <caption>Published Posts</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Tags</th>
      <th>Published at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @published_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.kind.titleize %></td>
        <td><%= post.tags.map(&:name).join(", ") %></td>
        <td><%= post.published_at %></td>
        <td nowrap>
          <%= link_to "Edit", edit_admin_post_path(post), class: "btn btn-primary btn-xs" %>
          <%= link_to "Delete", admin_post_path(post), class: "btn btn-danger btn-xs", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
