<article class="post">
  <h2><%= link_to post.title, post %></h2>
  <% unless post.kind == "talk" %><h5>Published: <%= post.publish ?  post.published_at.strftime("%B %d, %Y") : "n/a" %></h5><% end %>

  <% if post.summary.present? %>
    <div class="summary"><%= post.summary %></div>
  <% end %>

  <% unless @no_content %>
    <div class="content">
      <%= markdown(post.content) %>
    </div>
  <% end %>

  <% if post.tags.present? %>
    <div class="tags">Tags: <%= tag_links(post.tags) %></div>
  <% end %>
</article>
