<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title ? "#{@page_title} | " : nil  %>t27duck</title>
    <%= csrf_meta_tags %>

    <meta name="robots" content="NOODP">
    <meta name="description" content="The personal site and blog of Tony Drake" />
    <meta name="keywords" content="t27duck,blog,ruby,tony,programming,server administration,linux,postgresql,video games" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="Copyright <%= Time.now.strftime('%Y') %>" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 't27duck', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'About Me', about_path %></li>
            <li><%= link_to 'Resume', 'resume.pdf' %></li>
          </ul>
          <% if logged_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Logout', session_path, method: :delete, data: {confirm: 'Sure?'} %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash[:notice] %><div class="alert alert-info" role="alert"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div class="alert alert-danger" role="alert"><%= flash[:error] %></div><% end %>

      <div class="row">
        <% if @no_sidebar %>
          <div class="col-sm-12">
            <%= yield %>
          </div>
        <% else %>
          <div class="col-sm-9">
            <%= yield %>
          </div>
          <div class="col-sm-3">
            <div id="sidebar-images">
              <%= image_tag 'me.jpg', class: 'img-circle img-responsive', alt: 't27duck' %>
              <div id="social-icons" class="row">
                <div class="col-xs-4">
                  <%= link_to image_tag('social/github-128.png', id: 'github-icon', class: 'img-circle img-responsive', size: '128x128', alt: 'GitHub'), 'https://github.com/t27duck' %>
                </div>
                <div class="col-xs-4">
                  <%= link_to image_tag('social/linkedin-128.png', id: 'linkedin-icon', class: 'img-circle img-responsive', size: '128x128', alt: 'LinkedIN'), 'https://linkedin.com/in/t27duck' %>
                </div>
                <div class="col-xs-4">
                  <%= link_to image_tag('social/twitter-128.png', id: 'twitter-icon', class: 'img-circle img-responsive', size: '128x128', alt: 'Twitter'), 'https://twitter.com/t27duck' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr />
    <p class="pull-right">
      &copy; <%= Time.now.strftime("%Y") %> t27duck
    </p>

    <%= yield :bottom %>

    <% if CONFIG['ga_code'] %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= CONFIG['ga_code'] %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
