<!doctype html>
<html lang="en" xml:lang="en-US" xmlns:og="http://ogp.me/ns#" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title ? "#{@page_title} | " : nil  %>t27duck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="NOODP">
    <meta name="description" content="<%= @page_description ? @page_description : 'The personal site and blog of Tony Drake' %>" />
    <meta name="keywords" content="t27duck,blog,ruby,rails,tony,programming,linux,postgresql,servers,games" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="Copyright <%= Time.now.strftime('%Y') %>" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%= request.original_url.force_encoding('UTF-8') %>" />
    <meta name="twitter:title" content="<%= @page_title ? @page_title : 't27duck.com' %>" />
    <meta name="twitter:description" content="<%= @page_description ? @page_description : 'My personal blog where I talk about my interests' %>" />
    <meta name="twitter:site" content="@t27duck" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="t27duck" />
    <meta property="og:title" content="<%= @page_title ? @page_title : 't27duck.com' %>" />
    <meta property="og:type" content="<%= @page_type || "website" %>" />
    <meta property="og:url" content="<%= request.original_url.force_encoding('UTF-8') %>" />
    <meta property="og:description" content="<%= @page_description ? @page_description : 'My personal blog where I talk about my interests' %>" />

    <%= auto_discovery_link_tag(:rss, posts_url(format: :xml), { title: "t27duck.com blog posts feed" }) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <%= link_to 't27duck', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item"><%= link_to 'Posts', posts_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Talks', talks_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'About Me', about_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Resume', '/resume.pdf', class: "nav-link" %></li>
            </ul>
            <% if logged_in? %>
              <span class="navbar-text">
                <%= button_to 'Logout', session_path, method: :delete %>
              </span>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        <% if flash[:notice] %><div class="alert alert-info" role="alert"><%= flash[:notice] %></div><% end %>
        <% if flash[:error] %><div class="alert alert-danger" role="alert"><%= flash[:error] %></div><% end %>

        <div class="row">
          <% if @no_sidebar %>
            <div class="col-sm-12">
              <%= yield %>
            </div>
          <% else %>
            <div class="col-sm-9">
              <%= yield %>
            </div>
            <div id="sidebar" class="col-sm-3">
              <div id="sidebar-images">
                <%= image_tag "me.jpg", class: "rounded-circle img-fluid d-none d-sm-inline", alt: "t27duck" %>
                <div id="social-icons" class="row">
                  <div class="col">
                    <%=
                      link_to image_tag("social/github-128.png", size: "128x128", id: "github-icon", class: "rounded-circle img-fluid", alt: "Github"),
                          "https://github.com/t27duck"
                    %>
                  </div>
                  <div class="col">
                    <%=
                      link_to image_tag("social/linkedin-128.png", size: "128x128", id: "linkedin-icon", class: "rounded-circle img-fluid", alt: "LinkedIn"),
                          "https://linkedin.com/in/t27duck"
                    %>
                  </div>
                  <div class="col">
                    <%=
                      link_to image_tag("social/twitter-128.png", size: "128x128", id: "twitter-icon", class: "rounded-circle img-fluid", alt: "Twitter"),
                          "https://linkedin.com/in/t27duck"
                    %>
                  </div>
                </div>
              </div>
              <div class="card mt-4">
                <div class="card-body">
                  I am Tony Drake - Professional web developer, geek, and Mario Kart connoisseur.
                  This site is where I put my ramblings and talk about my interests.
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <div class="text-muted text-end">
          <span class="d-none d-sm-inline">
            <%= link_to "Github", "https://github.com/t27duck" %>
            |
            <%= link_to "LinkedIn", "https://linkedin.com/in/t27duck" %>
            |
            <%= link_to "Twitter", "https://linkedin.com/in/t27duck" %>
            |
          </span>
          &copy; <%= Time.now.strftime("%Y") %> t27duck
        </div>
      </div>
    </footer>
    <% if CONFIG['ga_code'] %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= CONFIG['ga_code'] %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
    <%= yield :bottom %>
  </body>
</html>
